@inherits LayoutComponentBase

<div class="auth-shell">
    <div class="auth-content">
        @Body
    </div>
    <div class="auth-bg">
        <div class="auth-bg-pattern"></div>
    </div>
</div>
